@charset "UTF-8";
	*{margin:0;padding:0;font-family:"微软雅黑";}
	ul{list-style-type:none;}
	a{text-decoration:none;color:black;}
	.clear{clear:both;}
	#top{
		padding-top:0px;
		width:900px;
		margin:0 auto;
	}
	#logo{
		width:200px;
		margin-left:5px;
		margin-top:2px;
	}
	#title span{
		position:relative;
		top:-19px;
		font-size:25px;
	}
	#search{
		display:none;
		float:right;
		margin:17px 0px 3px 0px;
	}
	#search img{
		width:30px;
		height:30px;
		float:right;
		background-color:#414141;
	}
	#search input{
		width:120px;
		height:26px;
	}
	#nav{
		background-color:rgba(65,65,65,0.6);
	}
	#nav a{
		color:white;
	}
	#nav li{
		color:white;
		padding:10px 0px;
		width:130px;
		text-align:center;
		cursor:default;
	}
	#nav li a{
		display:block;
		cursor:default;
	}
	#nav ul li:hover{
		background-color:rgba(65,65,65,0.6);
	}
	#first_ul{
		position:relative;
		left:-10px;
		width:1050px;
		margin:0 auto;
	}
	#first_ul>li{
		float:left;
	}
	#first_ul>li:hover .second_ul{
		display:block;
	}
	.second_ul{
		display:none;
		position:absolute;
		margin-top:10px;
		z-index:1;
	}
	.second_ul{
		background-color:rgba(65,65,65,0.6);
	}
	#first_ul>li:hover .second_ul li:hover{
		background-color:rgba(65,65,65,0.6);
	}
	#subtitle h1{
		width:900px;
		margin:0 auto;
		padding-top:60px;
	}
	#subtitle h1 span{
		color:#226ddd;
		border-left:5px solid #226ddd;
	}
	#details{
		padding:60px 0 160px 0;
		margin-top:60px;
		background-color:#f1f1f1;
	}
	#contact_way{
		width:900px;
		margin:0 auto;
	}
	#contact_way div:first-child{
		font-size:25px;
	}
	#contact_way div:last-child{
		padding-top:10px;
		width:400px;
		margin-top:30px;
		margin-left:60px;
		border:2px solid #a1a1a1;
		color:#616161;
	}
	#contact_way p{
		padding-left:30px;
		font-size:16px;
		margin-top:15px;
	}
	#message{
		display:inline-block;
		float:right;
		padding:5px 8px;
		margin-right:30px;
		margin-bottom:15px;
		background-color:#ddd;
		cursor:pointer;
	}
	#message:hover{
		background-color:#4187F1;
		color:white;
	}
	#foot_bar{
		color:white;
		padding:30px;
		font-size:14px;
		background-color:rgb(24,38,41);
	}
	#foot_bar ul{
		display:table;
		margin:0 auto;
	}
	#foot_bar li{
		float:left;
	}
	#foot_bar a{
		color:white;
	}
	#foot_bar p{
		margin-top:5px;
		text-align:center;
		clear:both;
	}